.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.margin-left {
  margin-left: -60px;
}
.margin-search {
  margin-left: 20%;
}

.slider-background {
  background-image: "./images/base.png";
}

.card-size {
  height: 142px;
    width: 223px;
}
.card-pic-wrap img{
  height: 201px;
    bottom: 54px;
    width: 150px;
    position: relative;
}

.left-add{
  left: 40px;
    width: 60px;
    height: 60px;
}

/* START FOOTER PART CSS */
.footer{
  background-color: #0E4B80;
  padding-top: 50px;
  padding-bottom: 20px;
  background-image: url('./images/footer-bg.png');
  min-height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer .container{
  max-width: 980px;
}
.footer h4{
  font-size: 22px;
  margin-bottom: 25px;
}
.footer button{
  border-radius: 25px;
  border: 1.5px solid #ffffff;
  padding: 9px 15px 9px 40px;
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
}
.footer button::before{
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  background-image: url('./images/ss-icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  left: 10px;
  top: 7px;

}
.footer-bottom{
  background-color: #232347;
  color: #ffffff;
  padding: 20px;
}
.footer-bottom .container{
  max-width: 1040px;
}
/* END FOOTER PART CSS */