.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.margin-left {
  margin-left: -60px;
}
.margin-search {
  margin-left: 20%;
}

.slider-background {
  background-image: "./images/base.png";
}

.card-size {
  height: 142px;
    width: 223px;
}
.card-pic-wrap img{
  height: 201px;
    bottom: 54px;
    width: 150px;
    position: relative;
}

.left-add{
  left: 40px;
    width: 60px;
    height: 60px;
}

/* START TESTIMONIAL PART CSS */
.testimonial-block .testimonial-image-block{
  background-color: #CEF0FF;
  border-radius: 0px 24px 24px 0px;
  margin-right: 20px;
}
.testimonial-block .testimonial-image-block .testimonial-image{
  background-image: url('./images/testimonial-mask.png');
  max-width: 430px;
  max-height: 530px;
  border-radius: 24px;
  border: 1px solid #A3DCF4;
  margin-left: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 16px;

}
.testimonial-block .arrow-btns{
  position: relative;
  width: 200px;
  /* height: 40px;
  bottom: 0px;
  right: 37%; */
}
.testimonial-content{
  max-width: 470px;
  margin-left: 10%;
}
.testimonial-content .user-name{
  color: #000000;
}
.testimonial-content .designation{
  color: #7E7E7E;
}
.testimonial-content .text-content{
  margin-top: 20px;
  margin-bottom: 25px;
}
/* END TESTIMONIAL PART CSS */

/* START FOOTER PART CSS */
.footer{
  background-color: #0E4B80;
  padding-top: 50px;
  padding-bottom: 20px;
  background-image: url('./images/footer-bg.png');
  min-height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer .container{
  max-width: 980px;
}
.footer h4{
  font-size: 22px;
  margin-bottom: 25px;
}
.footer button{
  border-radius: 25px;
  border: 1.5px solid #ffffff;
  padding: 9px 15px 9px 40px;
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
}
.footer button::before{
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  background-image: url('./images/ss-icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  left: 10px;
  top: 7px;

}
.footer-bottom{
  background-color: #232347;
  color: #ffffff;
  padding: 20px;
}
.footer-bottom .container{
  max-width: 1040px;
}
/* END FOOTER PART CSS */

.apple{
  padding: 15px;
    height: 100px;
    border-radius: 20px;
}

.apple2{
  padding: 15px;
  height: 100%;
  position: relative;
  border-radius: 20px;
  bottom: 110px;
  background: none;
}

.boy-image{
    width: 290px;
    position: relative;
    /* left: 100px; */
    bottom: 30px;
}

.sell-div{
  background: #f9d7c175;
  border-radius: 40px;
  height: 50vh;
  position: relative;
  /* top: 10vh; */
  padding: 20px;
}

.icon-bg{
  background: #e4dfff7a;
    border-radius: 40px;
    padding: 20px;
}
.camera {
  border: 5px solid #739fff;
    border-radius: 50%;
}

.underline-on-hover {
  position: relative;
  display: inline-block;
}

.underline-on-hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjust this value to control the distance of the line from the text */
  width: 100%;
  height: 2px; /* Adjust this value to control the thickness of the line */
  background-color: gray; /* Adjust this value to set the color of the line */
  transform: scaleX(0); /* Initial state, line is hidden */
  transition: transform 0.3s ease-in-out;
}

.underline-on-hover:hover::after {
  transform: scaleX(1); /* Line expands to cover the full width of the text */
}

.card-one{
  background: linear-gradient(234.3deg, #C0D4FE 16.99%, #ECF1FD 91.97%);
}

.card-two{
  background: #E9EBF0;
}
.card-three {
  background: #F0EBFF;
}

.card-four {
  background: #EBF9FF;
}

@media only screen and (max-width: 600px) {
  .apple2 {
    display: none;
  }
}